<div class="row">
 <div class="col-md-12">
 <h2>Cars</h2>
 <hr />
 <div class ="table-responsive">
 <table class ="table">
     <thead>
         <tr>
             <th class="col-md-1">Car ID</th>
             <th class="col-md-2">Car Make</th>
             <th class="col-md-2">Car Model</th>
             <th class="col-md-3">Car Year</th>
             <th class="col-md-3">Car Vin</th>
         </tr>
     </thead>
     {{#each cars}}
     <tbody>
         <tr>
             <td>{{id}}</td>
             <td><a href="/stores?retailer={{make}}">{{make}}</a></td>
             <td>{{model}}</td>
             <td><a href="/cars?year={{year}}">{{year}}</a></td>
             <td><a href="/people?vin={{vin}}">{{vin}}</a></td>
         </tr>
     </tbody>
    </tbale>
  {{else}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
  {{/each}}
  </div>
 </div>
</div> 
