<div class="row">
 <div class="col-md-12">
 <h2>People</h2>
 <hr />
  <div class ="table-responsive">
 <table class ="table">
     <thead>
         <tr>
             <th class="col-md-1">Person&nbsp;ID</th>
             <th class="col-md-2">Full&nbsp;Name</th>
             <th class="col-md-2">Phone Number</th>
             <th class="col-md-3">Address</th>
             <th class="col-md-3">Car Vin</th>
         </tr>
     </thead>
     {{#each people}}
     <tbody>
         <tr>
             <td>{{id}}</td>
             <td><a href="/people/{{id}}">{{first_name}} {{last_name}}</a></td>
             <td><a href="tel:{{phone}}">{{phone}}</a></td>
             <td>{{address}}</td>
             <td><a href="/cars?vin={{vin}}">{{vin}}</a></td>
         </tr>
     </tbody>
    </tbale>
  {{else}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
  {{/each}}
  </div>
 </div>
</div> 